body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color:black;
    color: white;
    text-align: center;
    padding: 1em; 
  }
  
  section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input, button {
    margin-bottom: 10px;
    padding: 10px;
  }
  
  button {
    background-color: #333;
    color: white;
    cursor: pointer;  
  }
  
  button:hover {
    background-color: #555;
  }

  /* Existing CSS styles remain unchanged */

  .menu-bar {
    border-radius: 25px;
    height: fit-content;
    display: inline-flex;
    background-color: rgba(0, 0, 0, .4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);  
    align-items: center;
    padding: 0 10px;
    margin: 50px 0 0 0;
    li {
      list-style: none;
      color: white;
      font-family: sans-serif;
      font-weight: bold;
      padding: 12px 16px;
      margin: 0 8px;
      position: relative;
      cursor: pointer;
      white-space: nowrap;
      &::before {
        content: " ";
        position: absolute;
        top: 0;
        left:0;
        height:100%;
        width: 100%;
        z-index:-1;
        transition: .2s;
        border-radius: 25px;
      }
        &:hover {
          &::before {
            background: linear-gradient(to bottom, #e8edec, #d2d1d3);
              box-shadow: 0px 3px 20px 0px black;
              transform: scale(1.2);
          }
          color: black;
      }
    }
  }
  
#car, #person, #other {
  transition: transform 0.3s ease-in-out;
}
#submitBtn {
  background-color: #e74c3c; /* Red color for Submit Report button */
  color: white;
  cursor: pointer;
}
#car.active, #person.active, #other.active {
  transform: translateX(50%);
}

#car {
  background-color: #3498db;
}

#person {
  background-color: #2ecc71;
}

#other {
  background-color: #e74c3c;
}

.form-fields {
  display: none;
}
