body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color:black;
    color: white;
    text-align: center;
    padding: 1em; 
  }
  
  section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input, button {
    margin-bottom: 10px;
    padding: 10px;
  }
  
  button {
    background-color: #333;
    color: white;
    cursor: pointer;  
  }
  
  button:hover {
    background-color: #555;
  }

  /* Existing CSS styles remain unchanged */

.menu-bar {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  color: white;
  padding: 10px;
  width: 100%;
  top: 100px;
  border-radius: 100px;
}

.menu-item {
  cursor: pointer;
}
#car, #person, #other {
  transition: transform 0.3s ease-in-out;
}
#submitBtn {
  background-color: #e74c3c; /* Red color for Submit Report button */
  color: white;
  cursor: pointer;
}
#car.active, #person.active, #other.active {
  transform: translateX(50%);
}

#car {
  background-color: #3498db;
}

#person {
  background-color: #2ecc71;
}

#other {
  background-color: #e74c3c;
}

.form-fields {
  display: none;
}
